th,
td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    font-size: 15px;
}

th {
    background-color: rgb(128, 128, 128);

}

.month-year {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: rgb(0, 96, 100);
    color: black;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

/*+*/
#calendar-body {
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    max-width: 400px;
    margin: 20px auto;
    color: white;
    text-align: center;
    background-color: rgb(128, 128, 128);
}

@media screen and (max-width: 1280px) {
    table {
        width: 70%;
        max-width: 400px;
        border-collapse: collapse;
        margin-top: 20px;
        color: black;
        text-align: center;
        justify-content: right;
        margin-right: 10px;
        margin-left: 2vh;/*+*/
    }
    
  }
  .current-date {
    color: white; /* Χρώμα κειμένου */
    background-color: rgb(0, 96, 100); /* Χρώμα φόντου */
    border-radius: 50%; /* Δίνει στο στοιχείο σχήμα κύκλου */
    width: 30px; /* Προσαρμόστε το μέγεθος του κύκλου σύμφωνα με τις ανάγκες σας */
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.current-date:hover{
  background-color: #ddd;
  color: black;
}

#month-year{
    color:black;
  }

  .button-container{
    display: inline-flex;
    margin-right: 30%!important;
  }

  #prev-btn, #next-btn{
    background-color:grey;
    color:white;
    height: 5vh;
    margin-top: 15%;
    border-radius: 80%;
    width: 5vh;
    font-size: 24px; 
    padding-top: 0px;
  }
  #prev-btn:hover, #next-btn:hover {
    background-color: #ddd;
    color: black;
  }