body {
    background-color: rgb(0, 96, 100) !important;
}

hr {
    color: black !important;
}

.container {
    background-color: lightgray;
    /* height: 100vh; */
    max-width: 70% !important;
}

#header-container {
    background-color: lightgray;
    height: 10vh !important;
}

.profile-container {
    display: grid !important;
    align-items: center !important;
    grid-template-columns: 1fr 1fr !important;
    margin-top: 15px;
}

.icons {
    margin-top: 50px;
    width: 40px;
    height: 30px;
}

#profile-col {
    text-align: right;
    justify-content: right;
    display: flex;
    flex-direction: row !important;
    color: black !important;
}

#middle-container {
    background-color: lightgray;
    height: 15vh !important;
}

#right-col {
    text-align: right;
}

#first-lesson {
    margin-top: 10px;
    width: 80%;
    margin-left: 3px;
    padding-left: 9px;
    align-items: center;
    background-color: whitesmoke;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row !important;
    color: black !important;

}

#deleteLesson {
    margin-top: 10px;
    width: 14rem !important;
    background-color: #C4291E !important;
    /* margin-top: 10px !important; */
    text-align: center;
}

.deleteLesson {
    width: 20px;
    height: 25px;
}

#details-container {
    margin-top: 5px;
    height: 50vh;
    width: 80%;
    box-shadow: 5px 5px 20px rgb(0, 96, 100);
    margin-left: 3px;
    display: inline-flex;
    /* padding-top: 15px; */
    padding-left: 9px;
    align-items: center;
    background-color: lightgray;
}

.footer {
    text-align: center !important;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 10px;
}

.profile-details {
    width: 65%;
    margin-top: 15px;
    padding: 10px;
    margin-left: 3px;
    padding-left: 9px;
    align-items: center;
    font-size: 15px;
    background-color: whitesmoke;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row !important;
    color: black !important;
}

.sum-profile {
    display: flex;
    flex-direction: row !important;
}