body {
    background-color: rgb(0, 96, 100) !important;
}

hr {
    color: black !important;
}

.container {
    background-color: lightgray;
    /* height: 100vh; */
    max-width: 70% !important;
}
@media screen and (max-width: 1280px) {
    .container {
        background-color: lightgray;
        /* height: 100vh; */
        max-width: 100% !important; /*lefki*/
}
  }
#header-container {
    background-color: lightgray;
    height: 10vh !important;
    padding-top: 0%;
    margin-bottom: -2%;
}

@media screen and (max-width: 1280px) {
    #header-container {
      background-color: lightgray;
      height: 10vh !important;
      padding-top: 0%;
      margin-bottom: -10%!important;
  }
  }
.profile-container {
    display: grid !important;
    align-items: center !important;
    grid-template-columns: 1fr 1fr !important;
    margin-top: 5px;
}

#profile-col {
    text-align: right;
    justify-content: right;
    display: flex;
    flex-direction: row !important;
    color: #263238 !important;
}

#middle-container {
    background-color: lightgray;
    height: 100vh !important;
}

@media screen and (max-width: 1280) {
    #middle-container {
        background-color: lightgray;
        height: 100vh !important;
    }
}

.blockquote {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    gap: 45px;
}

.footer {
    text-align: center !important;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 10px;
}

.profile-details {
    width: 50%;
    margin-left: 3px;
    padding-left: 9px;
    align-items: center;
    font-size: 15px;
    background-color: whitesmoke;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row !important;
    color: black !important;
}

@media screen and (max-width: 992px) {
    .profile-details {
        width: 80%; /*lefki*/
        margin-left: 3px;
        padding-left: 9px;
        align-items: center;
        font-size: 15px;
        background-color: whitesmoke;
        text-align: left;
        justify-content: left;
        display: flex;
        flex-direction: row !important;
        color: black !important;
    }
}

.sum-profile {
    display: flex;
    flex-direction: row !important;
}

/*sidebar*/

.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;

    position: fixed;
    height: 100%;
    overflow-wrap: break-word;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #263238;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: lightblue;
    color: #263238;
}

@media screen and (max-width: 1280px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 1280px) {
    .sidebar a {
        text-align: center;
        float: none;
        font-size: 25px;
    }
}

.logo {
    /*  margin-top: -20%;*/
    margin-left: -4%;
    width: 110%;
    height: 30%;
}

@media screen and (max-width: 1280) {
    .logo {
        margin-top: -20%;
        margin-bottom: -20%;
        margin-left: -2%;
        width: 100%;
    }
}


#options {
    overflow-wrap: break-word;
}

#title {
    margin-top: 10px;
    width: 50%;
    margin-left: 3px;
    padding-left: 9px;
    align-items: center;
    background-color: whitesmoke;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row !important;
    color: black !important;

}

  .st{
    color: white;
  }

  #hidden{
    display: none;
    background-color: rgb(0, 96, 100);
    color: white;
    cursor: pointer;
    opacity: 0.8;
    margin-right: 500px;
    margin-left: 5px;
  }

  .h1changes{
    margin-left: 0;
    display: none;
    width: 100%!important; /* Καθορίζει το πλάτος του <hr> στο 100% του παρεχόμενου χώρου */
    box-sizing: content-box; 
  }
  .h1changes {
    margin-top: 0; /* Καθορίζει το άνω περιθώριο ως μηδέν */
    color:red;
}

  #datetime-container{
    display: none;
    margin-right: 5%;
  }

  .lesson-link{
    cursor: pointer;

  }
  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th:nth-child(3), td:nth-child(3) {
    text-align: center;
}

/* Add this style to align icons to the right */
td svg {
    float: center;
}

/* Adjust the text alignment for the specific column */
th:nth-child(2), td:nth-child(2) {
    text-align: left;
}

.lesson-link {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.custom-header {
    color: rgb(38, 50, 56)!important;
}

#addField{
    background-color: rgb(161,214,172) !important;
    border: 2px solid rgb(0, 96, 100);
    /* margin-top: 10px !important; */
    color:rgb(38, 50, 56);
}

#files{
    margin-left: 25%;
}

#newFolder{
    margin-left: 1%!important;
    text-align: left;
}


/* Ιδιότητες για τις κινητές συσκευές */
@media only screen and (max-width: 768px) {
    .table thead {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    #addField,
    #uploadDoc1 {
        width: 100%;
        margin-left: -25%!important;
    }
}


#btnNewFolder,#uploadDoc1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  hr.new1{
    border: 1px solid white;
}

hr.new2{
    border: 1px solid #263238;
  }
  
  #click{
    cursor: pointer;
  }