body {
    background-color: rgb(0, 96, 100) !important;
}

hr {
    color: black !important;
}

.container {
    background-color: lightgray;
    /* height: 100vh; */
    max-width: 70% !important;
}

/*lefki*/
@media screen and (max-width: 1280px) {
    .container {
        background-color: lightgray;
        /* height: 100vh; */
        max-width: 100% !important;
    }
}

#header-container {
    background-color: lightgray;
    height: 10vh !important;
    padding-top: 0%;
    /*lefki*/
    margin-bottom: -2%;
    /*lefki*/
}

/*lefki*/
@media screen and (max-width: 1280px) {
    #header-container {
        background-color: lightgray;
        height: 25vh !important;
        padding-top: 0%;
        margin-bottom: -10% !important;
    }
}

.profile-container {
    display: grid !important;
    align-items: center !important;
    grid-template-columns: 1fr 1fr !important;
    margin-top: 5px;
    /*lefki*/
}

.icons {
    margin-top: 50px;
    width: 40px;
    height: 30px;
}

#profile-col {
    text-align: right;
    justify-content: right;
    display: flex;
    flex-direction: row !important;
    color: black !important;
}

#middle-container {
    background-color: lightgray;
    height: 15vh !important;
    /* padding-bottom: 7%; */
}

/* 
#right-col {
    text-align: right;
} */

#lesson {
    margin-top: 10px;
    width: 50%;
    margin-left: 3px;
    padding-left: 9px;
    align-items: center;
    background-color: whitesmoke;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row !important;
    color: black !important;

}

#deleteLesson {
    margin-top: 22px;
    width: 14rem !important;
    background-color: #C4291E !important;
    /* margin-top: 10px !important; */
    text-align: center;
}

.deleteLesson {
    width: 20px;
    height: 25px;
}

#details-container {
    margin-top: 5%;
    height: 50vh;
    width: 80%;
    box-shadow: 5px 5px 20px rgb(0, 96, 100);
    margin-left: 3px;
    display: inline-flex;
    /* padding-top: 15px; */
    padding-left: 9px;
    align-items: center;
    background-color: lightgray;
}

.footer {
    text-align: center !important;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 10px;
}

.profile-details {
    width: 65%;
    margin-top: 15px;
    padding: 10px;
    margin-left: 3px;
    padding-left: 9px;
    align-items: center;
    font-size: 15px;
    background-color: whitesmoke;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row !important;
    color: black !important;
}

.sum-profile {
    display: flex;
    flex-direction: row !important;
}

/* calendar css */
table {
    padding-right: 9px;
    width: 60%;
    max-width: 400px;
    border-collapse: collapse;
    margin-top: 20px;
    color: black;
    text-align: center;
    justify-content: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    font-size: 15px;
}

th {
    background-color: lightgray;
}

.month-year {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: rgb(0, 96, 100);
    color: black;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

/* ews edw */

/*sidebar*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 15%;

    position: fixed;
    height: 100%;
    overflow-wrap: break-word;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #263238;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: lightblue;
    color: #263238;
}

@media screen and (max-width: 1280px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 1280px) {
    .sidebar a {
        text-align: center;
        float: none;
        font-size: 25px;
    }
}

.logo {
    /*  margin-top: -20%;*/
    margin-left: -4%;
    width: 110%;
    height: 30%;
}

@media screen and (max-width: 1280) {
    .logo {
        margin-top: -20%;
        margin-bottom: -20%;
        margin-left: -2%;
        width: 100%;
    }
}


#options {
    overflow-wrap: break-word;
}

/* telos sidebar */

table {
    width: 70%;
    max-width: 400px;
    border-collapse: collapse;
    margin-top: 20px;
    color: black;
    text-align: center;
    justify-content: right;
    margin-right: 10vh;
    margin-left: -5vh;/*+*/
}

hr.new1{
    border: 1px solid white;
}

hr.new2{
  border: 1px solid #263238;
}

#click{
    cursor: pointer;
}