body {
    background-color: rgb(0, 96, 100) !important;
}

.container {
    background-color: lightgray;
    /* height: 100vh; */
    max-width: 70% !important;
}

@media screen and (max-width: 1280px) {
    .container {
        background-color: lightgray;
        /* height: 100vh; */
        max-width: 100% !important; /*lefki*/
}
  }

#header-container {
    background-color: lightgray;
    height: 10vh !important;
    padding-top: 0%;
    margin-bottom: -2%;
}

@media screen and (max-width: 1280px) {
  #header-container {
    background-color: lightgray;
    height: 10vh !important;
    padding-top: 0%;
    margin-bottom: -10%!important;
}
}
.profile-container {
    display: grid !important;
    align-items: center !important;
    grid-template-columns: 1fr 1fr !important;
    margin-top: 5px;
}

#profile-col {
    text-align: right;
    justify-content: right;
    display: flex;
    flex-direction: row !important;
   color: #263238;
}

#middle-container {
    color: rgb(38, 50, 56);
    background-color: lightgray;
}

.blockquote {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    gap: 45px;
}

.footer {
    text-align: center !important;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 10px;
}

.profile-details {
    width: 50%;
    margin-left: 3px;
    padding-left: 9px;
    align-items: center;
    font-size: 15px;
    background-color: whitesmoke;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: row !important;
    color: black !important;
}

@media screen and (max-width: 992px) {
    .profile-details {
        width: 80%; /*lefki*/
        margin-left: 3px;
        padding-left: 9px;
        align-items: center;
        font-size: 15px;
        background-color: whitesmoke;
        text-align: left;
        justify-content: left;
        display: flex;
        flex-direction: row !important;
        color: black !important;
    }
}
.sum-profile {
    display: flex;
    flex-direction: row !important;
}

    .logo {
      /*  margin-top: -20%;*/
        margin-left: -4%;
        width: 110%;
        height: 30%;
    }

    
@media screen and (max-width: 1280) {
    .logo {
        margin-top: -20%;
        margin-bottom: -20%;
        margin-left: -2%;
        width: 100%;
    }
}
    hr.new1{
        border: 1px solid white;
    }


    hr.new2{
      border: 1px solid #263238;
    }

  /*sidebar*/
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 15%;
    
    position: fixed;
    height: 100%;
    overflow-wrap: break-word;
    }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #263238;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: lightblue;
    color: #263238;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 1280px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 1280px) {
    .sidebar a {
      text-align: center;
      float: none;
      font-size: 25px;
    }
  }

  #options{
    overflow-wrap: break-word;
  }

  #quest{
    color: rgb(38, 50, 56);
  }

  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(0, 96, 100);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.time{
    color: rgb(150, 0, 25);
}

#submit {
    width: 7rem !important;
    background-color: rgb(0, 96, 100) !important;
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-left: 60%;
}

#click{
  cursor: pointer;
}