body {
    font-family: Arial, sans-serif;
    /* overflow: hidden; */
}

.sidebar {
    /* height: 100%; */
    width: 100px;
    position: fixed;
    background-color: #006064;
    padding-top: 20px;
    transition: 0.5s;
    overflow-x: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.content {
    margin-left: 0;
    padding: 16px;
    transition: margin-left 0.5s;
}

.open-btn {
    font-size: 19px;
    cursor: pointer;
    position: fixed;
    margin-left: 10px;
    display: block;
}

.close-btn {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .content {
        margin-left: 0;
    }

    .open-btn {
        display: block;
    }

    .close-btn {
        display: none;
    }
}

.sideBarKally {
    justify-content: flex-start;
}