body {
    background-color: cornflowerblue;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50vh;
    width: 20%;
    max-width: 400px;
    height: 150px;
    border: 10px;
    border-radius: 2%;
    padding: 100px;
    background-color: white;
}



button {
    border: 2px;
    border-radius: 5px;
    padding: 7%;
}

h1 {
    font-family: Georgia;
    height: 25vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

#signinBtn {
    background-color: #e83e8c;
    color: black;
    text-align: center;
}

h2 {
    font-family: Georgia;
}

#username {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 3%;
}

#password {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 3%;

}