body {
    /* font-family: Arial, sans-serif;*/
    background-color: rgb(0, 96, 100) !important;
}

/* #toolbar {
     background-color: lightcyan;
     padding: 10px;
     text-align: center;
 } */

button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

/* .frame-container {
     border: 2px solid #333;
     padding: 20px;
     background-color: #fff;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 } */

.container {
    border: 1px solid;
    width: 70% !important;
    /* height: 700px; */
    padding-right: 40%;
    padding-left: 30%;
    background-color: lightgray;
    border-color: black;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 20px;
    margin-top: -5%;
    margin-left: -2%;

}

.list-group {
    position: absolute;
    top: 30%;

}

@media screen and (max-width: 992px) {
    #username {
        border: 2px solid rgb(0, 96, 100);
        padding: 3%;
        margin-top: 5px;
        border-radius: 5%;
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    #password {
        border: 2px solid rgb(0, 96, 100);
        padding: 3%;
        margin-top: 5px;
        border-radius: 5%;
        width: 70%;
    }
}

.header {
    display: flex;
    padding-top: 0%;
}

.profile-container{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20%;
}
.img {
    /*padding-right: 10%;*/
    margin-top: 150%;
    margin-bottom: -50%;
}

.profile {
    margin-left: 70%;
   margin-bottom: -10%;
}

.courses-container{
    width: 60% !important;
    height:40%;
    max-width: 500px;
    box-shadow: 5px 5px 20px rgb(0, 96, 100);
    border-radius: 5%;
    padding: 20%;
    padding-right: 0%;
    padding-left: 0%;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    background-color: lightgray;
   
    width: 90%;
   
}
/*
.delete-container{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    
}*/

.horizontal_line {

    width: 90%;
    height: 5px;
    border-top: 5px dotted black;
    line-height: 80%;
}

.line {
    margin-top: 5px;
    width: 90%;
}