body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0 !important;
}

.container {
    background-color: #f0f0f0;
    text-align: center;
}

.title-class {
    color: #006064;
    margin-top: 35%;
    padding: 10px;
}

.details-class {

    padding: 10px;
    margin-top: 10px;
}

.hyperlink-class {
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    /* Adjust the percentage as needed */
    height: auto;
    margin-top: 15%;
    margin-left: 15%;
}

/* 
.login-button {
    background-color: black !important;
} */